{% extends "web/base.html" %}
{% load static %}
{% block title %}
    系统通知
{% endblock title %}
{% block content %}
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>日志输出</strong> <small>console</small>
                        </div>
                        <div class="card-body card-block">
                            <div class="col-md-12">
                                <div style="overflow:scroll;
                                            height:515px;
                                            background:#000;
                                            color:#FFF;"
                                     class="jumbotron">
                                    log
                                    <div id="log"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">选择执行用户</strong>
                        </div>
                        <div class="card-body">
                            <select id="exec_user"
                                    data-placeholder="选择执行用户"
                                    class="standardSelect"
                                    tabindex="1">
                                <option value="" label="default">
                                </option>
                                {% for exec_user in exec_users %}
                                    <option value={{ exec_user.name }}>
                                        {{ exec_user.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">选择需要执行的服务器</strong>
                        </div>
                        <div class="card-body">
                            <select id="server"
                                    data-placeholder="选择需要执行的服务器"
                                    multiple
                                    class="standardSelect">
                                <option value="" label="default">
                                </option>
                                {% for server in servers %}
                                    <option value={{ server.id }}>
                                        {{ server.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">选择要执行的脚本</strong>
                        </div>
                        <div class="card-body">
                            <select id="script"
                                    data-placeholder="选择要执行的脚本"
                                    class="standardSelect"
                                    tabindex="1">
                                <option value="" label="default">
                                </option>
                                {% for script in scripts %}
                                    <option value={{ script.id }}>
                                        {{ script.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">选择执行的剧本</strong>
                        </div>
                        <div class="card-body">
                            <select id="playbook"
                                    data-placeholder="选择执行 剧本"
                                    class="standardSelect"
                                    tabindex="1">
                                <option value="" label="default">
                                </option>
                                {% for conf in confs %}
                                    {% if conf.type != "hosts" %}
                                        <option value={{ conf.id }}>
                                            {{ conf.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button id="exec" type="button" class="btn btn-success btn-lg btn-block">执行</button>
                </div>
            </div>
        </div>
        <!-- .animated -->
    </div>
    <!-- .content -->
    <div class="clearfix"></div>
    <script src="{% static 'assets/js/jquery-3.0.0.min.js' %}"></script>
    <script>
        jQuery(document).ready(function() {
            jQuery(".standardSelect").chosen({
                disable_search_threshold: 10,
                no_results_text: "Oops, nothing found!",
                width: "100%"
            });
        });
    </script>
    <script>
    function appand(log){  
        var html = '<pre style="color: white">' + log +'</pre>';
        $(html).appendTo($("#log"))
    }

    $("#exec").click(function() {

        $("#exec").disabled=true;
        exec_name = $("#exec_user option:selected").val()
        script_id = $("#script option:selected").val()
        playbook_id = $("#playbook option:selected").val()

        function getSelected() {  
            var servers=[];;  
            $('#server option:selected').each(function(){  
                servers.push($(this).val())  
            })  

            return servers.join(" ");  
        }  
        
        servers_id = getSelected()
        $.ajax({

            url: '/job/exec_script',
            dataType: "json",
            type: "get",
            data: {"exec_user_name":exec_name,
                "servers_id":servers_id,
                "command":command,
                "script_id":script_id,
                "playbook_id":playbook_id,},

            success: function(result) {  
                console.log("success")
                appand(result)
                $("#exec").disabled=false;
            },

            error: function(data) {
                console.log(data,"请求出错");
                $("#exec").disabled=false;
            }
        });
    });
    </script>
{% endblock content %}
