{% extends "web/base.html" %}
{% load static %}
{% block title %}
    定时任务列表
{% endblock title %}
{% block content %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>仪表盘</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li>
                                    <a href="/index/">仪表盘</a>
                                </li>
                                <li>
                                    <a href="#">定时任务</a>
                                </li>
                                <li class="active">定时任务列表</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title" v-if="headerText">定时任务</strong>
                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>名称</th>
                                        <th>类型</th>
                                        <th>重复周期</th>
                                        <th>执行用户</th>
                                        <th>执行服务器</th>
                                        <th>执行脚本</th>
                                        <th>执行剧本</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for task in tasks %}
                                        <tr>
                                            <td>{{ task.name }}</td>
                                            <td>{{ task.type }}</td>
                                            {% if task.type == 'cron' %}
                                            <td>{{ task.day_of_week }} {{ task.hour }}:{{ task.minute }}:{{ task.second }}</td>
                                            {% else %}
                                            <td>{{ task.second }}</td>
                                            {% endif %}
                                            <td>{{ task.user }}</td>
                                            <td>
                                                {% for server in task.servers.all %}
                                                {{ server }}
                                                {% endfor %}
                                            </td>
                                            <td>{{ task.script }}</td>
                                            <td>{{ task.playbook }}</td>
                                            <td>
                                                {% if task.is_load %}
                                                <button id="load" type="button" data-id={{ task.id }} class="load btn-success btn-sm">重载配置
                                                </button>
                                                {% else %}
                                                <button id="load" type="button" data-id={{ task.id }} class="load btn-success btn-sm">加载配置
                                                </button>
                                                {% endif %}
                                                <button id="cancel" type="button" data-id={{ task.id }} class="cancel btn-danger btn-sm">注销配置
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .animated -->
    </div>
    <!-- .content -->
    <div class="clearfix"></div>
    <script src="{% static 'assets/js/jquery-3.0.0.min.js' %}"></script>

<script>
$(".load").click(function() {
    $("#load").attr("disabled", true);
    var val=$(this).attr("data-id")
    $.ajax({
        url: '/job/load',
        dataType: "json",
        type: "get",
        data: {"task_id":val},
    
        success: function(result) {  
            alert(result)
            $("#load").attr("disabled", false);
        },
    
        error: function(data) {
            console.log(data,"请求出错");
            $("#load").attr("disabled", false);
        }
    });
});

$(".cancel").click(function() {
    $("#cancel").attr("disabled", true);
    var val=$(this).attr("data-id")
    $.ajax({
        url: '/job/cancel',
        dataType: "json",
        type: "get",
        data: {"task_id":val},
    
        success: function(result) {  
            alert(result)
            $("#cancel").attr("disabled", false);
        },
    
        error: function(data) {
            console.log(data,"请求出错");
            $("#cancel").attr("disabled", false);
        }
    });
});

</script>
{% endblock content %}
